.TabelaProdutos table {
    width: 100%;
}

.TabelaProdutos thead {
    background-color: #ad00ad;
    color: #fff;
}

.TabelaProdutos .Par {
    background-color: #ddd;
}

.TabelaProdutos .Impar {
    background-color: #ccc;
}